<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wali's Blog</title>
</head>
<body>
    <header>
        <h1><a href="/">Wali's Blog</a></h1>
    </header>

    <article>
        <time>published: 10.12.2023, 10:21</time>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt perspiciatis dolorem deleniti! Facere, labore dolor?</p>
    </article>

    <article>
        <time>published: 10.12.2023, 10:22</time>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis enim quasi natus harum, labore inventore quaerat.</p>
    </article>
</body>
</html>